form {
    .formDesign {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
   
            .inputDesing {
                outline: none;
                padding: 0 30px;
                border-width: 1px;
                line-height: 44px;
                border-radius: 5px;
                margin-bottom: 15px;
                border-color: #ccc;
                border-style: none none solid none;
                background-color: hsla(0, 0%, 100%, 0);
            }
        }

        textarea {
            width: 350px; 
            height: 100px;
            outline: none;
            padding: 0px 10px;
            border-width: 1px;
            line-height: 44px;
            border-radius: 5px;
            margin-bottom: 15px;
            border-color: #ccc;
            border-style: none none solid none;
            background-color: hsla(0, 0%, 100%, 0);
        }
    }
    
    .btn {   
        color: $colorgreen;
        margin: 50px 0 0 50%;
        border: 2px solid $colorgreen;
        transform: translate(-50%, -50%);
        
        &:hover {
            background-color: $colorgreen;
            transition: all 0.3s ease-in-out;
        }
    }
    
    .skewBtn{
        outline: none;
        cursor: pointer;
        background: none;
        transition: .5s;
        font-size: 24px;
        border-radius: 5px;
        padding: 10px 50px;
        
        &:hover{
            border: none;
            color: white;
            font-size: 28px;
        }
    }
}